/* Input Words page*/
* {
  box-sizing: border-box;
}

.input-page,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}

.header__title {
  width: 50%;
  margin: 0.5em;
  padding: 0.5em 1em;
  border: 1px solid #000000;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

.main-header {
  max-height: 20%;
}

.main-header__title {
  font-size: 2em;
  text-align: center;
}

.main-content {
  margin: 5% 10% 1%;
  flex: 1 1 auto;
  display: grid;
  justify-items: stretch;
}

.main-content__section-block {
  border: 1px solid #000000;
  margin: 5% 0 1%;
  padding: 0.5em 1em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__button {
  width: 50%;
  padding: 1em;
  font-size: 2em;
  background-color: #ffffff;
}

.footer {
  padding: 2.5em;
  text-align: center;
}

.footer__link {
  font-size: 1.5em;
  text-decoration: none;
  color: #000000;
}

.footer__link:visited {
  color: #000000;
}

@media (min-width: 800px) {
  .header__title {
    width: 25%;
    margin: 0.8em;
  }

  .main-content {
    margin: 0 5% 1%;
    gap: 5%;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .main__button {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .main__button {
    width: 25%;
  }
}

@media (min-width: 450px) and (max-width: 799px) {
  .main-content {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    justify-content: center;
  }

  .main-content__section-block {
    margin: 0;
  }

  .main-content {
    margin: 5%;
    gap: 5%;
  }

  .main__button {
    width: 25%;
  }
}
